* {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;

    background-color: black;
    color: white;
    img {
        /* height: 20px; */
        width: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    nav {
        display: inline;
        a {
            color: whitesmoke;
        }
    }
}

p.abc {
    /* setting bg color of element */
    background-color: rgb(175, 175, 175); 

    /* Font */
    /* setting font color inside the element */
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700; /* boldness of the font */
    font-style: italic;

    /* Dimensions */
    height: 100px;
    /* width: 100px; */
    aspect-ratio: 1/1; /* width: height ratio */

    /* border */
    border: 7px solid rgb(64, 0, 255);
    /* border-radius: 50%; */
    border-radius: 20px;

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    

}
img {
    width: 50px;

}

em {
    color: violet;
}

main {
    margin-top: 50px;
    .box-container {
        height: 220px; 
        width: 200px;
        background-color: rgb(120, 156, 187);
        border: 2px solid greenyellow;

        .box {
            margin: auto;
            text-align: center;
            height: 200px;
            width: 200px;
            padding: 5px;
            background-color: rgb(227, 244, 252);
            /* background: url(images/pic1.jpg);
            background-blend-mode: lighten;
            background-position: center; */
            /* border: 2px solid; */
            border-radius: 20px;

            position: fixed;
            top: 50%;
            /* bottom: 0; */
            left: 50%;
            transform: translate(-50%,-50%);
            form {
                input {
                    text-align: center;
                }
            }
            button {
                border-radius: 20px;
                margin-top: 10px;
                padding: 5px;
            }
            
        }
    }
    .random {
        width: 200px;
        aspect-ratio: 1/1;
        background-color: rgb(175, 115, 115);
        border: 1px solid;
    }
}