* {
    /* resetting the padding and margin  */
    padding: 0;
    margin: 0;

    /* setting box-sizing */
    box-sizing: border-box;
}

body {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0);
        height: 50px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;

        /* border: 1px solid; */
        #head-link {
            height: 100%;
            div.logo {
                margin-left: 20px;
                height: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;

                img {
                    height: 100%;
                    border: 1px solid white;
                    transform: scale(1.4);
                    /* this is a workaround to zoom the image as it has too much padding in the file itself */

                }
            }
        }

        nav {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: white;
                font-size: larger;
                text-decoration: none;
                /* removes the underline of the links */
                padding: 5px;
                margin: 4px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 1s;
            }

            a:hover {
                color: black;
                background-color: whitesmoke;
            }
        }
    }

    main {
        max-width: 800px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 55px;

        div.container {
            /* flex properties */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 70px;

            /* background-color: black; */
            /* end of flex properties */
            /*  styling for a product card */
            div.card {
                /* border: 1px solid; */
                box-shadow: 1px 2px 4px 1px rgb(0, 0, 0);
                border-radius: 6px;
                background-color: rgb(255, 255, 255);
                height: 310px;
                width: 150px;
                margin-top: 20px;
                margin: 10px;
                overflow: hidden;
                transition-duration: 2s;

                div.card-img {
                    height: 50%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                div.card-text {
                    text-align: center;
                    /* background-color: aqua; */
                    height: 50%;

                    h3 {

                        margin-top: 5px;
                        height: 30px;
                    }

                    h5 {
                        height: 20px;
                    }

                    p {
                        height: 65px;
                        padding: 4px;
                        color: rgb(99, 99, 99);
                        /* overflow: hidden; */
                        /* text-overflow: ellipsis; */
                        /* text-wrap: nowrap; */
                    }

                    button {
                        height: 25px;
                        width: 100px;
                        padding: 2px;
                        border-radius: 8px;
                        border: 0px;
                        /* cursor: cell;*/
                        /* changes the shape of mouse pointer cursor */

                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        background-color: rgb(21, 155, 233);
                    }

                    button:hover {
                        box-shadow: 1px 1px 1px 1px lightblue;
                    }
                }
            }

            div.card:hover {
                background-color: rgb(255, 255, 255);
                box-shadow: 1px 2px 4px 1px rgb(201, 201, 201);
                transform: scale(1.05);
                transition-duration: 1s;
            }
        }
        .sign-in-form {
            border-radius: 7px;
            background-color: rgb(0, 0, 0);
            color: white;
            /* opacity: calc(50%); */
            box-shadow: 1px 1px 1px ;
            height: 200px;
            width: 200px;
            position: fixed;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* border: 1px solid; */
                
                h3, input, button {
                    border-radius: 7px;
                    padding: 2px;
                    text-align: center;
                    background-color: rgb(0, 0, 0);
                    color: white;
                }
                input {
                    width: 50%;
                    margin-top: 4px;    
                }
                button {
                    margin-top: 10px;
                    width: 50px;
                    
                }

            }

            
        }


        /* Styling for the about page */
        #desc {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            div.logo {
                img {
                    height: 200px;
                    aspect-ratio: 1/1;
                }
            }

            article {
                text-align: center;
                width: 80%;

                h2 {
                    color: rgb(51, 51, 51);
                }

                p {
                    margin-top: 10px;
                    font-family: cursive;

                }
            }
        }

        #locations {      
            .grid-container {
                margin: auto;
                /* border: 1px solid; */
                margin-top: 10px;
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;
                
                .grid-card {
                    margin: auto;
                    width: 300px;
                    /* border: 1px solid; */
                    box-shadow: 1px 1px 2px ;
                    display: flex;
                    justify-content: space-between;
                    .card-img {
                        height: 100px;
                        width: 150px;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .card-body {
                        width: 145px;
                        ul {
                            height: 100%;
                            /* border: 1px solid; */
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            li {
                                strong {
                                    color: darkblue;
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 600px) {
                .grid-container {
                    
                    grid-template-columns: auto;
                }
            }
        }
    }

    footer {
        position: fixed;
        height: 25px;
        width: 100%;
        background-color: black;
        color: white;
        bottom: 0;
        z-index: 5;

        p {
            text-align: center;
        }

    }
}